{% load static%}
<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" href="{%static '/images/favicon.png'%}""" type="">
      <title>FammsGadgets Store</title>
      <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css'%}"/>
      <link href="{%static '/css/font-awesome.min.css'%}" rel="stylesheet" />
      <link href="{%static '/css/style.css'%}" rel="stylesheet" />
      <link href="{%static '/css/responsive.css'%}" rel="stylesheet" />
   </head>
   <body class="sub_page">
      <div class="hero_area">

         {%include 'navbar.html'%}

      </div>

      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Contact us</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
     
      <!-- ... Previous code ... -->

<section class="why_section layout_padding">
   <div class="container">
       <div class="row justify-content-center">
           <div class="col-lg-8 offset-lg-2">
               <div class="full">

                  <form method="post">
                     {% csrf_token %}

                     <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" placeholder="Email" name="email">
                     </div>
                            
                     <div class="form-group">
                        <label for="subject">Subject:</label>
                        <input type="text" class="form-control" placeholder="Subject" name="name">
                     </div>
                 
                     <label for="message">Message:</label>
                     <textarea name="message" class="form-control" placeholder="Message"></textarea><br>
                 
                     <div class="d-grid gap-2">
                        <button class="btn btn-warning" type="button">Sind Mail</button>
                     </div>
                 </form>
                 
               </div>
           </div>
       </div>
   </div>
</section>

<!-- ... Remaining code ... -->

     <script>
      $(document).ready(function() {
          $("#message-form").submit(function(event) {
              event.preventDefault();  // Prevent the form from submitting normally
  
              $.post("{% url 'contact' %}", $(this).serialize(), function(data) {
                  if (data.error) {
                      alert("An error occurred: " + data.error);
                  } else {
                      alert(data.message);
                  }
              });
          });
      });
  </script>
  <section class="arrival_section">
   <div class="container">
     <div class="box">
       <div class="arrival_bg_box">
         <img src="{%static '/images/arrival-bg.png'%}" alt="">
       </div>
       <div class="row">
         <div class="col-md-6 ml-auto">
           <div class="heading_container remove_line_bt">
             <h2>#NewArrivals</h2>
           </div>
           <p style="margin-top: 20px; margin-bottom: 30px;">
             Vitae fugiat laboriosam officia perferendis provident aliquid voluptatibus dolorem, fugit ullam sit earum id eaque nisi hic? Tenetur commodi, nisi rem vel, ea eaque ab ipsa, autem similique ex unde!
           </p>
           <a href="" class="btn btn-primary">
             Shop Now
           </a>
         </div>
       </div>
     </div>
   </div>
 </section>
      <footer class="footer_section">
         <div class="container">
            <div class="row">
               <div class="col-md-4 footer-col">
                  <div class="footer_contact">
                     <h4>
                        Reach at..
                     </h4>
                     <div class="contact_link_box">
                        <a href="">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>
                        Kerala,Kochi
                        </span>
                        </a>
                        <a href="">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>
                        Call +01 1234567890
                        </span>
                        </a>
                        <a href="">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>
                        gadgets@gmail.com
                        </span>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4 footer-col">
                  <div class="footer_detail">
                     <a href="index.html" class="footer-logo">
                     Famms
                     </a>
                     <p>
                        Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
                     </p>
                     <div class="footer_social">
                        <a href="https://www.facebook.com/">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
                           <i class="fa fa-linkedin" aria-hidden="true"></i>
                       </a>
                       
                        <a href="https://www.instagram.com/">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                       
                     </div>
                  </div>
               </div>
               <div class="col-md-4 footer-col">
                  <div class="map_container">
                     <div class="map">
                        <div id="googleMap"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="footer-info">
               <div class="col-lg-7 mx-auto px-0">
                  <p>
                     &copy; <span id="displayYear"></span> All Rights Reserved By
                     <a href="https://html.design/">FammsGadgets</a><br>
         
                     Distributed By <a href="https://themewagon.com/" target="_blank">FammsGadgets</a>
                  </p>
               </div>
            </div>
         </div>
      </footer>
   
   
      <script src="{%static '/js/jquery-3.4.1.min.js'%}"></script>

      <script src="{%static '/js/popper.min.js'%}"></script>

      <script src="{%static '/js/bootstrap.js'%}"></script>

      <script src="{%static '/js/custom.js'%}"></script>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

   </body>
</html>