{% load static %}
<section class="slider_section ">
    <div class="slider_bg_box">
       <img src="{% static '/images/slider-bg.jpg'%}" alt="">
    </div>
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <div class="container ">
                <div class="row">
                   <div class="col-md-7 col-lg-6 ">
                      <div class="detail-box">
                         <h1>
                            <span>
                            Purchase Wth us
                            </span>
                            <br>
                            For amazing Offers
                           
                         </h1>
                         <p style="color: black; font-size: 16px;">
                           Explore our cutting-edge electronic gadgets, where technology meets convenience. Discover a curated selection of the latest and most innovative gadgets
                         {% if user.is_authenticated %}
                         <div class="btn-box">
                            <a href="{%url 'products'%}" class="btn1">
                            Shop Now
                            </a>
                         </div>
                         
                         {%else%}
                         <div class="btn-box">
                           <a href="{%url 'login'%}" class="btn1">
                           Shop Now
                           </a>
                        </div>
                        {%endif%}
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item ">
             <div class="container ">
                <div class="row">
                   <div class="col-md-7 col-lg-6 ">
                      <div class="detail-box">
                         <h1>
                            <span>
                            5% Off 
                            </span>
                            <br>
                            Smartphones and
                            Laptops
                         </h1>
                         <p>
                           from smart home devices that enhance your living spaces, to portable gadgets that elevate your on-the-go lifestyle.
                           {% if user.is_authenticated %}
                           <div class="btn-box">
                              <a href="{%url 'products'%}" class="btn1">
                              Shop Now
                              </a>
                           </div>
                           
                           {%else%}
                           <div class="btn-box">
                             <a href="{%url 'login'%}" class="btn1">
                             Shop Now
                             </a>
                          </div>
                          {%endif%}
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel-item">
             <div class="container ">
                <div class="row">
                   <div class="col-md-7 col-lg-6 ">
                      <div class="detail-box">
                         <h1>
                            <span>
                              We provide Best Quality Products
                            </span>
                            <br>
                            In Amazing Offers 
                         </h1>
                         <p>
                           With a seamless shopping experience, expert reviews, and unmatched customer service, we're your go-to destination for staying ahead in the world of electronics. Shop confidently for the future today.
                         </p>
                         {% if user.is_authenticated %}
                         <div class="btn-box">
                            <a href="{%url 'products'%}" class="btn1">
                            Shop Now
                            </a>
                         </div>
                         
                         {%else%}
                         <div class="btn-box">
                           <a href="{%url 'login'%}" class="btn1">
                           Shop Now
                           </a>
                        </div>
                        {%endif%}
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="container">
          <ol class="carousel-indicators">
             <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
             <li data-target="#customCarousel1" data-slide-to="1"></li>
             <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
       </div>
    </div>
 </section>